<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Black_deep</key>
	<dict>
		<key>normal</key>
		<string>333333</string>
	</dict>
	<key>Black_major</key>
	<dict>
		<key>normal</key>
		<string>444444</string>
	</dict>
	<key>Black_minor</key>
	<dict>
		<key>normal</key>
		<string>606060</string>
	</dict>
	<key>Grey_assist</key>
	<dict>
		<key>normal</key>
		<string>999999</string>
	</dict>
	<key>Blue_link</key>
	<dict>
		<key>normal</key>
		<string>3289e6</string>
	</dict>
	<key>Blue_trip</key>
	<dict>
		<key>normal</key>
		<string>4ba0ff</string>
	</dict>
	<key>Red</key>
	<dict>
		<key>normal</key>
		<string>ff5151</string>
	</dict>
	<key>Orange</key>
	<dict>
		<key>normal</key>
		<string>ff6000</string>
	</dict>
	<key>Yellow</key>
	<dict>
		<key>normal</key>
		<string>fddc00</string>
	</dict>
	<key>Grey_bg</key>
	<dict>
		<key>normal</key>
		<string>eaeaea</string>
	</dict>
	<key>Grey_line_text</key>
	<dict>
		<key>normal</key>
		<string>eeeeee</string>
	</dict>
	<key>Grey_line_bottom</key>
	<dict>
		<key>normal</key>
		<string>dbdbdb</string>
	</dict>
	<key>Grey_line_nav</key>
	<dict>
		<key>normal</key>
		<string>dfdfdf</string>
	</dict>
	<key>Grey_line_tab</key>
	<dict>
		<key>normal</key>
		<string>d0d0d0</string>
	</dict>
	<key>Grey_bg_comments</key>
	<dict>
		<key>normal</key>
		<string>f5f5f5</string>
	</dict>
</dict>
</plist>
